*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: white;
    display: flex;
justify-content: center;
vertical-align: middle;
padding: 5% 0;
}
.all{

    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.form{
    margin: 6px 30px;
border-radius: 5px;
}
.form .pseudo{
    display: flex;
    flex-direction: row;
   
}
.form .Mot{
    display: flex;
    flex-direction: row;
}
.up{
    display: flex;
    flex-direction: row;
    margin: 20px 50px;
    justify-content: space-between;
}


.icone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icone i{
    font-size: 40px;
    margin-bottom: 10px;
 
}
.icone h3{
    font-size: 20px;
    margin-bottom: 29px;
  
  }
.form input{
 border: none;
 border-bottom: 2px solid black;
 margin: 20px 10px;
 width: 90%;
}
.pseudo,
.Mot {
    display: flex; 
    align-items: center; 
    margin: 10px 30px;
    
}

.pseudo i,
.Mot i {
    font-size: 18px; 
    color: #060708;
};

.remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 35px;
   
    
   
}

   .rappel{
    display: flex;
    align-items: center;
    gap: 8px;
   }


.remember  a {
    text-decoration: none;
    color: #3B82F6;
   font-size: 14px;
   margin-left: auto;
    
}
button{
    margin-bottom: 50px;
  background-color: #3B82F6;
  display:flex;
 color: white;
  padding: 10px 90px;
  margin: 20px 95px;
  border: none;
  border-radius: 5px;
}
.end{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end a{
    color:#3B82F6;
    text-decoration: none;
}